.note-detail-editable-text {
    .toolbar {
        display: flex;
        margin-bottom: 1px;
        background: var(--classic-toolbar-vert-layout-background-color);
        padding: 3px 6px;
        border-radius: 6px;
        margin: 20px;
        vertical-align: middle;
    }

    .toolbar .divider {
        width: 1px;
        background-color: var(--main-border-color);
        margin: 0 6px;
    }

    .toolbar .toolbar-item .text {
        display: flex;
        line-height: 20px;
        width: 200px;
        vertical-align: middle;
        font-size: 14px;
        color: #777;
        text-overflow: ellipsis;
        width: 70px;
        overflow: hidden;
        height: 20px;
        text-align: left;
    }

    .toolbar .toolbar-item .icon {
        display: flex;
        width: 20px;
        height: 20px;
        user-select: none;
        margin-right: 8px;
        line-height: 16px;
        background-size: contain;
    }
}
